# general things to ignore
config.yaml
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
n3c_spark_extractor.log

# due to using tox and pytest
.tox
.cache

*colorado*
config_colorado.yaml
nohup**

